.place-form {
  padding: 1rem;
  margin: 10rem auto;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: white;
}

.place-form button {
  display: block;
  margin: 1rem auto;
  width: 10vw;
  height: 4vh auto;
  font-size: 12px;
  background-color: #292929;
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  outline: none;
  line-height: 30px;
}

.place-form button:hover {
  background-color: white;
  color: #292929;
}
