.side-nav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  opacity: 0.95;
  padding-top: 80px;
}

.side-nav a {
  padding: 10px 10px 10px 50px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  color: #f1f1f1;
}

.side-nav .closebtn {
  background-color: #111;
  color: #818181;
  border: hidden;
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 50px;
  outline: none;
}

.side-nav .closebtn:hover {
  color: #f1f1f1;
}
