.modal {
  z-index: 100;
  position: fixed;
  top: 22vh;
  left: 10%;
  width: 80%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.modal-header {
  width: 100%;
  background: #363636;
  color: white;
}

.modal-header h2 {
  margin: 0.5rem;
  text-align: center;
}

.modal-content {
  padding: 1rem 1rem;
}

.modal-footer {
  padding: 1rem 0.5rem;
  background: #363636;
  color: white;
  text-align: center;
}
